.custom-grid {
  padding-left: 0;
  padding-right: 0;
}
.margin-auto {
  margin: auto;
}
.with-15 {
  width: 15%;
}
.margin-left-10 {
  margin-left: 10%;
}
.datetime-picker {
  .calender-div {
    .time-picker {
      .scroll-hider {
        ul {
          height: 200px;
        }

      }
    }
  }
}
